
html {
  font-size: 1rem;
}

ul {
  display: block;
  position: fixed;
  bottom: 0;
 width: 100%;
  background:gainsboro;
  padding-top: 2vw;
  -webkit-transform:translateZ(0);
  -moz-transform:translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform:translateZ(0);

  li {
    float: left;
    width: 20%;
    list-style: none;
    text-align: center;
    font-size: 2rem;


    i{
      color: black;
    }
    p{
      margin-top: 1vw;
    }

  }
}
.my-margin-top{
  height: 20vw;
  text-align: center;
  font-size: 3rem;
  color: gainsboro;
}
