.com {
  padding: 2.5vw;
}

.li-item {
  border: 0.1px solid gainsboro;
  height: 63vw;
  width: 48%;
  display: inline-block;
  border-radius: 1.5vw;
  margin-top: 1.5vw;
  img {
    width: 100%;
    height: 37vw;
    border-radius: 1.5vw 1.5vw 0 0;
  }
  p {
    font-size: 1.2rem;
    width: 42vw;
    padding: 2vw;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    line-height: 6vw;
    height: 10vw;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

  }
  table {
    width: 100%;
    padding: 2vw;

    td {
      width: 50%;
    }
    .money {
      color: red;
      font-size: 1.4rem;
      font-weight: bolder;
    }
    .num {
      text-align: right;

    }
  }

}

a:nth-child(odd) {
  margin-right: 2.5vw;
}
