
ul{
  margin-top: 2vw;
li{
  float: left;
  width: 25%;
  list-style: none;
  text-align: center;
  font-size:1rem ;
  margin-bottom: 2vw;


   i{
     color: #0000fe;
     font-size: 1.7rem;
     display: inline-block;
      padding: 2vw;
     border-radius: 50%;
     margin-bottom:2vw;

    }


}
}
